<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Innovación Curricular</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        @* Link a la pagina de inicio *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @* Links a las 8 tablas del módulo de Innovación Curricular *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/docente-departamento">
                <span class="bi bi-building"></span> Docente Dept.
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/alianza">
                <span class="bi bi-link-45deg"></span> Alianzas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/programa-ac">
                <span class="bi bi-award"></span> Programa AC
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/an-programa">
                <span class="bi bi-graph-up"></span> An Programa
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/programa-pe">
                <span class="bi bi-inbox"></span> Programa PE
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/aa-pe">
                <span class="bi bi-journal-text"></span> AA PE
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/programa-cs">
                <span class="bi bi-gear"></span> Programa CS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/enfoque-rc">
                <span class="bi bi-lightbulb"></span> Enfoque RC
            </NavLink>
        </div>

        <div class="nav-item px-3"> 
            <NavLink class="nav-link" href="dashboard/car_innovacion">
                <span class="bi bi-lightbulb"></span> Car Innovación
            </NavLink>
        </div>

        <div class="nav-item px-3"> 
            <NavLink class="nav-link" href="dashboard/enfoque">
                <span class="bi bi-bullseye"></span> Enfoque
            </NavLink>
        </div>

        <div class="nav-item px-3"> 
            <NavLink class="nav-link" href="dashboard/practica_estrategia">
                <span class="bi bi-diagram-3"></span> Práctica Estrategia
            </NavLink>
        </div>
        
        <div class="nav-item px-3"> 
            <NavLink class="nav-link" href="dashboard/premio">
                <span class="bi bi-trophy"></span> Premios
            </NavLink>
        </div>


    </nav>
</div>
